# Carpetas generadas por Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Carpetas especificas del proyecto (Solo si tu proyecto esta dentro de una subcarpeta)
Howlhund/[Ll]ibrary/
Howlhund/[Tt]emp/
Howlhund/[Oo]bj/
Howlhund/[Bb]uild/
Howlhund/[Bb]uilds/
Howlhund/[Ll]ogs/
Howlhund/[Uu]ser[Ss]ettings/

# Archivos de sistema y IDE
.vs/
.idea/
.gradle/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Archivos meta temporales de Unity
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Builds y basura de OS
.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db